<h1>Split your Expenses</h1>

<%= link_to "Go Back", bills_path %>

<hr>

<div class = "row content">
  <div class = "col-md-4">
    Name
  </div>
  <div class="col-md-4">
    Type
  </div>
  <div <div class="col-md-4">
    Created By
  </div>
</div>

<hr>
<div class = "row content">
  <div class = "col-md-4">
    <%= @bill.amount %>
  </div>
  <div class="col-md-4">
    <%= @bill.bill_type %>
  </div>
  <div <div class="col-md-4">
    <%= @bill.user.full_name %>
  </div>
</div>
